<title>My application deployed automatically</title>
  <h1>Hello, My World!</h1>

     <p>
        In the first form and second form, enter a list of integers separated by a newline character.
        In the third and fourth form, enter an integer.
        It converts integer numbers into characters in lists (from given start index to end index), creates two separate strings, and concatenates them.
    </p>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
	<textarea name="start" rows="10" cols="30"></textarea>
        <textarea name="end" rows="10" cols="30"></textarea>

        <br>
        <input type="submit">
  </form>
